<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cykj.mapper.TblgoodsMapper">
    <select id="findGoodsList" resultType="com.cykj.bean.Tblgoods">
        select * from tblgoods
    </select>
<!--    修改商品信息-->
    <update id="updGoods" parameterType="com.cykj.bean.Tblgoods">
        UPDATE tblgoods SET goodsName=#{goodsName},goodsImg=#{goodsImg},goodsPrice=#{goodsPrice},goodsDesc=#{goodsDesc}
        WHERE id=#{id}
    </update>
    <insert id="insertGoods" parameterType="com.cykj.bean.Tblgoods">
            insert into tblgoods(goodsName,goodsImg,goodsPrice,goodsDesc)
            values (#{goodsName},#{goodsImg},#{goodsPrice},#{goodsDesc})
    </insert>


</mapper>