<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cykj.mapper.TblgoodsMapper">
    <select id="findGoodsList" resultType="com.cykj.bean.Tblgoods">
        select * from tblgoods
    </select>
<!--    修改商品信息-->
    <update id="updGoods" parameterType="com.cykj.bean.Tblgoods">
        UPDATE tblgoods SET goodsName=#{goodsName},goodsImg=#{goodsImg},goodsPrice=#{goodsPrice},goodsDesc=#{goodsDesc}
        WHERE id=#{id}
    </update>
    <delete id="delGoods" >
        delete  from tblgoods where id = #{index}
    </delete>

    <!-- 商品名模糊查询商品列表-->
    <select id="findGoodsListByName" resultType="com.cykj.bean.Tblgoods">
        Select * From Tblgoods
        <if test="goodsName !=null and goodsName !=''">
            WHERE goodsName like concat('%',#{goodsName},'%')
        </if>
        LIMIT #{startPage},#{singlePageNum}
    </select>
    <!-- 商品名查询商品列表总量-->
    <select id="findGoodsListNum" resultType="java.lang.Integer">
        Select COUNT(*) From Tblgoods
        <if test="goodsName !=null and goodsName !=''">
            WHERE goodsName like concat('%',#{goodsName},'%')
        </if>
    </select>
    <insert id="insertGoods" parameterType="com.cykj.bean.Tblgoods">
            insert into tblgoods(goodsName,goodsImg,goodsPrice,goodsDesc)
            values (#{goodsName},#{goodsImg},#{goodsPrice},#{goodsDesc})
    </insert>


</mapper>